* {
  box-sizing: border-box;
}

h1 {
  color: rgb(134, 165, 42);
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: beige;
}

p {
  color: rgb(132, 0, 255);
}

header {
  background-color: aqua;
}
